

{% extends 'adminpanel/base.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'adminpanel/css/dropzone.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'adminpanel/css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'adminpanel/css/vendors/chartist.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'adminpanel/css/vendors/date-picker.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'adminpanel/css/vendors/bootstrap-tagsinput.css' %}">
{% endblock %}


{% block content %}

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
</div>
{% endif %}

<!-- New Product Add Start -->
<div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 m-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Category Information</h5>
                                            </div>

                                          <form action="{% url 'web:add_category' %}" method="POST" enctype="multipart/form-data">
                                              {% csrf_token %}
                                              <div class="theme-form theme-form-2 mega-form">
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Category Name</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text" name="category_name" placeholder="Enter Category Name" required>
                                                    </div>
                                                </div>
                                                <!-- Short Description -->
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Description</label>
                                                    <div class="col-sm-9">
                                                        <textarea name="short_description" class="form-control" placeholder="Enter short description" rows="3"></textarea>
                                                        <small class="text-muted">Brief description for the category</small>
                                                    </div>
                                                </div>

                                                <!-- Thumbnail Image -->
                                                <div class="mb-4 row align-items-center">
                                                    <label class="col-sm-3 col-form-label form-label-title">Thumbnail Image</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="file" name="thumbnail" accept="image/*">
                                                        <small class="text-muted">Recommended size: 300x300px</small>
                                                    </div>
                                                </div>
                                                <!-- Category Image -->
                                                <div class="mb-4 row align-items-center">
                                                    <label class="col-sm-3 col-form-label form-label-title">Category Image</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="file" name="category_image" accept="image/*">
                                                        <small class="text-muted">Recommended size: 1200x400px</small>
                                                    </div>
                                                </div>

                                                
                                            </div>
                                        </div>
                                        <div class="card-submit-button">
                                            <button class="btn btn-animation ms-auto" type="submit">Submit</button>
                                        </div>
                                          </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% block extra_js %}

    <script src="{% static 'adminpanel/js/dropzone/dropzone.js' %}"></script>
    <script src="{% static 'adminpanel/js/dropzone/dropzone-script.js' %}"></script>
    <script src="{% static 'adminpanel/js/select2.min.js' %}"></script>
    <script src="{% static 'adminpanel/js/select2-custom.js' %}"></script>
    <script src="{% static 'adminpanel/js/bootstrap-tagsinput.min.js' %}"></script>

                {% endblock %}



<!-- New Product Add End -->
{% endblock %}
