<!-- footer start-->
                <div class="container-fluid">
                    <footer class="footer">
                        <div class="row">
                            <div class="col-md-12 footer-copyright text-center">
                                <p class="mb-0">Copyright 2025 © KanthiMantra theme by Cryoflame Technologies</p>
                            </div>
                        </div>
                    </footer>
                </div>
                <!-- footer End-->

<script>
document.addEventListener("DOMContentLoaded", function () {
    setTimeout(function () {
        document.querySelectorAll('.alert').forEach(function (alert) {
            alert.classList.remove('show');
            alert.classList.add('fade');
        });
    }, 3000); // ⏱ 3 seconds (change time here)
});
</script>
