{% load static %}
<!-- Page Sidebar Start-->
            <div class="sidebar-wrapper">
                <div id="sidebarEffect"></div>
                <div>
                    <div class="logo-wrapper logo-wrapper-center">
                        <a href="{% url 'web:admin_dashboard' %}" data-bs-original-title="" title="">
                            <img class="img-fluid for-white" src="{% static 'adminpanel/images/logo/1111_white.png' %}" alt="logo" >
                        </a>
                        <div class="back-btn">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="toggle-sidebar">
                            <i class="ri-apps-line status_toggle middle sidebar-toggle"></i>
                        </div>
                    </div>
                    <div class="logo-icon-wrapper">
                        <a href="{% url 'web:admin_dashboard' %}">
                            <img class="img-fluid main-logo main-white" src="{% static 'adminpanel/images/logo/logo_bg.png' %}" alt="logo">
                            <img class="img-fluid main-logo main-dark" src="{% static 'adminpanel/images/logo/icon.png' %}"
                                alt="logo">
                        </a>
                    </div>
                    <nav class="sidebar-main">
                        <div class="left-arrow" id="left-arrow">
                            <i data-feather="arrow-left"></i>
                        </div>

                        <div id="sidebar-menu">
                            <ul class="sidebar-links" id="simple-bar">
                                <li class="back-btn"></li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="{% url 'web:admin_dashboard' %}">
                                        <i class="ri-home-line"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>

                                  <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-list-check-2"></i>
                                        <span>Category</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="{% url 'web:add_category' %}">Add New Category</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'web:category_list' %}">Category List</a>
                                        </li>

                                        
                                    </ul>
                                </li>


                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-store-3-line"></i>
                                        <span>Product</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                         <li>
                                            <a href="{% url 'web:add_product' %}">Add New Products</a>
                                        </li>
                                        <li>
                                            <a href="#">Products</a>
                                        </li>

                                       
                                    </ul>
                                </li>

                              
                                

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-user-3-line"></i>
                                        <span>Users</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="#">All users</a>
                                        </li>
                                      
                                    </ul>
                                </li>
                              

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-archive-line"></i>
                                        <span>Orders</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="#">Order List</a>
                                        </li>
                                        <li>
                                            <a href="#">Order Detail</a>
                                        </li>
                                        <li>
                                            <a href="#">Order Tracking</a>
                                        </li>
                                    </ul>
                                </li>

                               
                               
                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="#">
                                        <i class="ri-star-line"></i>
                                        <span>Product Review</span>
                                    </a>
                                </li>

                               
                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-settings-line"></i>
                                        <span>Settings</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="#">Profile Setting</a>
                                        </li>
                                    </ul>
                                </li>

                               

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="list-page.html">
                                        <i class="ri-list-check"></i>
                                        <span>List Page</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="right-arrow" id="right-arrow">
                            <i data-feather="arrow-right"></i>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Page Sidebar Ends-->